:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    color: var(--header-text);
    padding: var(--vertical-padding) var(--horizontal-padding);

    section {
        flex: 0 0 auto;
        text-align: right;
    }

    #logo {
        width: var(--logo-size);
        height: var(--logo-size);
    }

    #title {
        font-size: var(--title-size);
        font-weight: bold;
        margin-left: 5px;
    }
}