<header>
    <section class="container">
        <img id="app-logo" src="./app-logo.png" alt="logo" />
        <span id="app-title">{{ title }}</span>
    </section>

    <section id="user-info" class="container">
        <span i18n="Welcome user mesage">Welcome {{ username }}</span>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-raised-button (click)="signout()">
            <mat-icon>logout</mat-icon>
            <span i18n="Sign out Button">Sign out</span>
        </button>
    </section>
</header>