<!-- <mat-toolbar>
    <mat-toolbar-row class="top-header">
        <article class="container">
            <img id="app-logo" src="./app-logo.png" alt="logo" />
            <span id="app-title">{{ title }}</span>
        </article>

        <article>
            <p>User´s information</p>
        </article>
    </mat-toolbar-row>
</mat-toolbar> -->

<header>
    <section class="container">
        <img id="app-logo" src="./app-logo.png" alt="logo" />
        <span id="app-title">{{ title }}</span>
    </section>

    <section>
        <p>User´s information</p>
    </section>
</header>